


  <mat-toolbar color="primary">
    <span>Welcome to {{ title }}!</span>
    <span class="example-fill-remaining-space"></span>
    <span>Right Aligned Text</span>
  </mat-toolbar>

  <ol>
    <li>
      <mat-form-field>
        <input matInput [(ngModel)]="name" placeholder="What's your name?">
      </mat-form-field>
    </li>
    <li>
      <button mat-raised-button (click)="onShowDialog($event)">Click it</button>
    </li>
    <li *ngIf="animal">
      You chose: <i>{{animal}}</i>
    </li>
  </ol>

<router-outlet></router-outlet>
