<mat-toolbar color="primary">
  <span>Welcome to {{ title }}!</span>
  <span class="example-fill-remaining-space"></span>
  <span>Right Side</span>
</mat-toolbar>

<div>
    <mat-form-field>
      <input matInput [(ngModel)]="name" placeholder="What's your name?">
    </mat-form-field>
</div>
<div>
    <button mat-raised-button (click)="showDialog($event)">Enter Your Email Address!</button>
</div>
<div *ngIf="email">
    <p>You entered: <i style="color:red">{{email}}</i> for your email address.</p>
</div>
<div>
    <mat-radio-group class="example-radio-group" [(ngModel)]="selectedMode">
      <mat-radio-button class="example-radio-button" *ngFor="let mode of modes" [value]="mode">
        {{mode}}
      </mat-radio-button>
    </mat-radio-group>
    <div class="example-selected-value">Mode: {{selectedMode}}</div>
</div>
<router-outlet></router-outlet>