<mat-toolbar color="primary">
  <span>Welcome to {{ title }}!</span>
  <span class="example-fill-remaining-space"></span>
  <span>Right Side</span>
</mat-toolbar>
<ul style="float:left">
  <li>
    <mat-form-field>
      <input matInput [(ngModel)]="name" placeholder="What's your name?">
    </mat-form-field>
  </li>
  <li>
    <button mat-raised-button (click)="showDialog($event)">Open Popover Dialog</button>
  </li>
  <li *ngIf="email">
    <p>You entered: <i>{{email}}</i></p>
  </li>
</ul>

<div style="float:right; width: 320px; margin-right: 50px">
<ul>
  <li>
    <button mat-raised-button (click)="showDialog($event)">Click Me!</button>
  </li>
</ul>
</div>
<router-outlet></router-outlet>